@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root{
    --main-color: #FF7A00;
    --second-color:#4F4F4F;
    --font-color:#000000;
    --second-font-color:#5B5B5B;
    --font-nav: 600 16px 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}